@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-body text-sm text-gray-800;
}

p:not(:last-child) {
  @apply mb-4;
}

a {
  @apply text-dark-lava transition duration-100;
}
a:hover {
  @apply text-middle-grey;
}
a:focus,
button:focus {
  @apply outline-none;
}
a:disabled,
button:disabled {
  @apply opacity-25;
}

label {
  @apply block uppercase tracking-wide text-xs font-bold mb-2;
}
input,
textarea {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-transparent rounded-sm leading-tight;
}
input:focus,
textarea:focus {
  @apply outline-none bg-white border-gray-400;
}

.title {
  @apply text-4xl font-display tracking-wide;
}
.headline {
  @apply text-2xl font-display mb-4;
}

.btn {
  @apply whitespace-no-wrap bg-dark-lava text-alabaster tracking-wider font-bold uppercase py-2 px-5 border border-transparent rounded-sm text-sm;
}
.btn:hover:not(:disabled) {
  @apply bg-transparent border-dark-lava text-dark-lava;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn-secondary {
  @apply bg-middle-grey text-white;
}
.btn-secondary:hover:not(:disabled) {
  @apply border-middle-grey text-middle-grey;
}

.hero {
  @apply bg-alabaster py-8;
}
.hero .container {
  @apply flex flex-col items-center text-center;
}
.hero .title {
  @apply relative;
}
.hero .title::before {
  content: '';
  left: 50%;
  width: 40px;
  margin-left: -20px;
  @apply absolute bottom-0 border-b-2 border-middle-grey opacity-50;
}
.hero .subtitle:is(:last-child) {
  @apply mt-4;
}
.hero .subtitle:not(:last-child) {
  @apply my-4;
}

.gallery {
  @apply py-8;
}
.gallery__items {
  @apply grid grid-cols-1 gap-4;
}
.gallery__item h4 {
  @apply pt-2 underline text-center;
}
.gallery__item {
  @apply rounded-sm overflow-hidden;
}

@screen sm {

  .hero .subtitle {
    @apply w-1/2
  }

  .gallery {
    @apply py-32;
  }
  .gallery__items {
    @apply grid-cols-3;
  }
  .gallery__item {
    @apply relative;
  }
  .gallery__item img {
    @apply transition duration-100;
  }
  .gallery__item:hover img {
    @apply transform scale-105 opacity-25;
  }
  .gallery__item h4 {
    top: 50%;
    @apply transition duration-100 pt-0 opacity-0 transform -translate-y-2 absolute text-center right-0 left-0;
  }
  .gallery__item:hover h4 {
    @apply opacity-100 -translate-y-1/2;
  }

}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-100;
}
.page-enter,
.page-leave-active {
  @apply opacity-0;
}