@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-body text-sm text-gray-800;
}

p:not(:last-child) {
  @apply mb-4;
}

a {
  @apply text-dark-lava transition duration-100;
}
a:hover {
  @apply text-middle-grey;
}
a:focus {
  @apply outline-none;
}

label {
  @apply block uppercase tracking-wide text-xs font-bold mb-2;
}
input,
textarea {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-transparent rounded-sm leading-tight;
}
input:focus,
textarea:focus {
  @apply outline-none bg-white border-gray-400;
}

.title {
  @apply text-4xl font-display tracking-wide;
}
.headline {
  @apply text-2xl font-display mb-4;
}

.btn {
  @apply bg-dark-lava text-alabaster tracking-wider font-bold uppercase py-2 px-5 border border-transparent rounded-sm text-sm;
}
.btn:hover {
  @apply bg-transparent border-dark-lava text-dark-lava;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn-secondary {
  @apply bg-middle-grey text-white;
}
.btn-secondary:hover {
  @apply border-middle-grey text-middle-grey;
}

.hero {
  @apply bg-alabaster py-10;
}
.hero .container {
  @apply flex flex-col items-center text-center;
}
.hero .title {
  @apply mb-3;
}
.hero .subtitle {
  @apply mb-3;
}